body {
  font-size: 14px;
}
nav {
  background-color: yellow;
  height: 100px;
  margin-top: -10px;
  position: fixed;
  width: 100%;
}

section {
  margin: 0 auto;
  width: 60%;
}

h1 {
  font-family: sans-serif;
  font-size: 2em;
}

.example h3 {
  padding-top: 30px;
  text-align: center;
  font-size: 1.3em;
}

.element {
  /* all the element has following style */
  background-color: green;
  height: 100px;
  margin: 10px;
  width: 100%;
}
.element1 {
  /* display lavender color as a background for element1*/
  background-color: #aa80ff;
  height: 100px;
  margin: 10px;
  width: 100%;
}
.element2 {
  /* display pastel pink as a background for element2 */
  background-color: #ff80bf;
  height: 100px;
  margin: 10px;
  width: 100%;
}
.element3 {
  /* display mint green as a background for element3 */
  background-color: #00e6ac;
  height: 100px;
  margin: 10px;
  width: 100%;
}
